<section>
    <div class="container">
        <div class="cover">
            <div class="front">
                <img src="../../../../assets/images/washrecords.png">
            </div>
        </div>
        <div class="forms login-card">
            <div class="form-content">
                <form class="login-card">
                    <div class="head">
                        <h1 class="mb-2 fw-500 fs-xl">Welcome</h1>
                        <p class="mute">New user? reserve your tenant</p>
                    </div>
                    <div class="form w-100">
                        <input type="email" class="form__input" placeholder=" " required>
                        <label class="form__label">Email<span class="danger-color">*</span></label>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="spinner-border spinner-border-sm me-2"></i>
                        Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>