<div class="wrapper-card">
    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner" >
                <div class="card-sm-h d-flex">
                    <div class="fs-lg fw-500 me-4"></div>
                    <mat-slide-toggle class="mr"></mat-slide-toggle>
                </div>
                <div class="card-sm-b mt-3">
                    <div class="permission">
                        <span class="fs-md fw-300 name"></span>
                        <mat-slide-toggle class="mr"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

